@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  
  font-family: 'Poppins', sans-serif;

}


.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.home-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.advert-publish-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
  justify-self: center;

  /* margin-top: -200px;  */
  padding: 0;
    
  width: 100%;
  
}

.advert-publish-content{
  word-wrap: normal;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fafafa !important;
  
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0,0,0,0.1) !important;
  padding: 30px;

  
  width: 80%;
}

.text-field {
  width: 100%;
  margin-bottom: 20px !important;
}
