
.app-logo{
    font-size: 30px;
    
}

.app-nav-link {
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
}

.app-nav-button {
    padding: 8px !important;
    margin-right: 10px !important;
    cursor: pointer;

    min-width: 40px;

    text-align: center;

}   